div(class="modal-window__content")
	div.modal-window__close
	h2.modal-window__header= "Редактирование пользователя"
	form(method="post", action="/submit", name="useredit")
		div.text-input
			label(for="fullName", class="text-input__label")= "Полное имя:"
			input(name="fullName", class="text-input__input", type="text", required, value="#{user.fullName}")
		div.text-input
			label(for="email", class="text-input__label")= "E-Mail:"
			input(name="email", class="text-input__input", type="text", required, value="#{user.email}")
		div.date-input
			label(for="birthdate", class="date-input__label")= "Дата рождения:"
			input(name="birthdate", class="date-input__input", type="date", value="#{user.birthdate || ''}")
		div.radio-input
			label(class="radio-input__label")= "Пол:"
			label(class="radio-input__radio-label")
				span= "М"
				input(name="gender", class="radio-input__radio", type="radio", value="M", checked=(!!(user.gender == "M")))
			label(class="radio-input__radio-label")
				span= "Ж"
				input(name="gender", class="radio-input__radio", type="radio", value="F", checked=(!!(user.gender == "F")))
		div.text-input
			label(for="address", class="text-input__label")= "Адрес:"
			input(name="address", class="text-input__input", type="text", value="#{user.address || ''}")
		div.modal-window__footer
			button(type="submit", class="modal-window__button")= "Сохранить"
