div(class="modal-window__content")
	div.modal-window__close
	h2.modal-window__header= "Создать нового пользователя"
	form(method="post", action="/submit", name="usercreate")
		div.text-input
			label(for="fullName", class="text-input__label")= "Полное имя:"
			input(name="fullName", class="text-input__input", type="text", required)
		div.text-input
			label(for="email", class="text-input__label")= "E-Mail:"
			input(name="email", class="text-input__input", type="text", required)
		div.date-input
			label(for="birthdate", class="date-input__label")= "Дата рождения:"
			input(name="birthdate", class="date-input__input", type="date")
		div.radio-input
			label(class="radio-input__label")= "Выберите пол:"
			label(class="radio-input__radio-label")
				span= "М"
				input(name="gender", class="radio-input__radio", type="radio" value="M", checked)
			label(class="radio-input__radio-label")
				span= "Ж"
				input(name="gender", class="radio-input__radio", type="radio" value="F")
		div.text-input
			label(for="address", class="text-input__label")= "Адрес:"
			input(name="address", class="text-input__input", type="text")
		div.modal-window__footer
			button(type="submit", form="usercreate", class="modal-window__button")= "Зарегистрировать"
